###PySpark **withColumn**() Usage with Examples

1. Change DataType using PySpark withColumn()
2. Update The Value of an Existing Column
3. Create a Column from an Existing
4. Add a New Column using withColumn()
5. Rename Column Name
6. Drop Column

In [0]:
# Create DataFrame
data = [
  ('Aarav', 'Kumar', 'Patel', '1993-08-14', 'M', '5500'),
  ('Diya', 'Rani', '', '1998-03-22', 'F', '6200'),
  ('Karan', '', 'Mehta', '1985-11-09', 'M', '7200'),
  ('Isha', 'Vikram', 'Nair', '1990-07-30', 'F', '6800'),
  ('Rahul', 'Dev', 'Singh', '2001-01-12', 'M', '4800')
]

columns = ["firstname", "middlename", "lastname", "dob", "gender", "salary"]

df = spark.createDataFrame(data=data, schema=columns)

# Show DataFrame
df.show()
df.printSchema()

####1. Change DataType using PySpark withColumn()

In [0]:
from pyspark.sql.functions import col
df.withColumn("salary"
              ,col("salary").cast("Integer")).printSchema()

####2. Update The Value of an Existing Column

In [0]:
from pyspark.sql.functions import col
df.withColumn("salary",col("salary")*100).show()

####3. Create a Column from an Existing

In [0]:
df.withColumn("CopiedColumn",col("salary")* -1).show()

####4. Add a New Column using withColumn()

In [0]:
from pyspark.sql.functions import lit, concat, col
df.withColumn("Country", lit("UAE")) \
  .withColumn("City", concat(col("Country"), lit("-"), lit("Dubai"))) \
  .show()

In [0]:
# Add a new column using 'when-otherwise'
from pyspark.sql.functions import col, when

df.withColumn(
    "bonus",
    when(df.salary > 7000, "High")
    .when((df.salary >= 6000) & (df.salary <= 7000), "Medium")
    .otherwise("Low")
).show()

####5. Rename Column Name

In [0]:
df.withColumnRenamed("gender","sex") \
  .show(truncate=False)

####6. Drop Column

In [0]:
df.drop("salary") \
  .show()